<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front End</title>
</head>
<body>
    <h3>List of companies attacked</h3>
    <table border="1">
        <tr><b><td>Name</td><td>Location</td><td>Industry</td></b></tr>
        <tr><td>1</td><td>2</td><td>3</td><td><a href="/companyDetails/">Details</a></td></tr>
        <tr><td>4</td><td>5</td><td>6</td><td><a href="/companyDetails/">Details</a></td></tr>
        <tr><td>7</td><td>8</td><td>9</td><td><a href="/companyDetails/">Details</a></td></tr>
    </table>
</body>
</html>